.back-img{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(26, 2, 35, 0.792), rgba(0, 0, 0, 0.961)), url("/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.back-pic{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(26, 2, 35, 0.792), rgba(0, 0, 0, 0.961)), url("/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.backer-img{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(26, 2, 35, 0.792), rgba(0, 0, 0, 0.961)), url("/image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.backer-pic{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(26, 2, 35, 0.792), rgba(0, 0, 0, 0.961)), url("/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow-head{
    text-shadow: 2px 2px 4px #fff,
                 2px 2px 3px #ff1100;    
}


#tsparticlesfullpage {
    background-color: #f3ebeb00;
   
  }