.back-img{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0 ,0 , 0, 0.8), rgba(0, 0, 0, 0.961)), url("/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.back-pic{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0 ,0 , 0, 0.8), rgba(0, 0, 0, 0.961)), url("/image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.backer-img{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0 ,0 , 0, 0.8), rgba(0, 0, 0, 0.961)), url("/image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.backer-pic{
    width: auto;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0 ,0 , 0, 0.8), rgba(0, 0, 0, 0.961)), url("/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.part-link{
    z-index: 9999;
}

.border-style:focus{
    border-color: blue;
    border: 2px solid gray;

}

body{
    background-color: #0d1117;
}
